
<app-customer-today-meta *ngIf="showTodayMeta" [nowLeadProp]="nowLead"></app-customer-today-meta>
<app-customer-redemption-meta *ngIf="showRedemptionMeta" [nowLeadProp]="nowLead" ></app-customer-redemption-meta>
<app-customer-nca-meta *ngIf="showNCAMeta" [nowLeadProp]="nowLead"></app-customer-nca-meta>

<!-- <div class="d-flex flex-row justify-content-between">
  <div class="card-body col-md-6 col-xl-3">
    <span>
      <h5 class="card-title">Lead Source</h5>
      <p>Digital Marketing</p>
    </span>
    <span>
      <h5 class="card-title">Language</h5>
      <p>Malayalam</p>
    </span>
    <span>
      <h5 class="card-title">State</h5>
      <p>Digital Marketing</p>
    </span>
    <span>
      <h5 class="card-title">Lead Type</h5>
      <p>Fresh Lead</p>
    </span>
  </div>
  <div class="card-body col-md-6 col-xl-3">
    <span>
      <h5 class="card-title">Lead Source</h5>
      <p>Digital Marketing</p>
    </span>
    <span>
      <h5 class="card-title">Language</h5>
      <p>Malayalam</p>
    </span>
    <span>
      <h5 class="card-title">State</h5>
      <p>Digital Marketing</p>
    </span>
    <span>
      <h5 class="card-title">Lead Type</h5>
      <p>Fresh Lead</p>
    </span>
  </div>
  <div class="card-body col-md-6 col-xl-3">
    <span>
      <h5 class="card-title">Lead Source</h5>
      <p>Digital Marketing</p>
    </span>
    <span>
      <h5 class="card-title">Language</h5>
      <p>Malayalam</p>
    </span>
    <span>
      <h5 class="card-title">State</h5>
      <p>Digital Marketing</p>
    </span>
    <span>
      <h5 class="card-title">Lead Type</h5>
      <p>Fresh Lead</p>
    </span>
  </div>
</div> -->
