<div class="container-fluid shadow p-3 mb-5 bg-body-tertiary rounded">
  <h3 class="font-italic mb-2">Pledged Items</h3>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-xl-3">
      <div
        class="card shadow p-3 mb-5 bg-body-tertiary rounded border-0 rounded"
      >
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <span>
              <h5 class="card-title">Bracelet</h5>
              <p>Purity-91.6-Above (22-ct)</p>
            </span>
            <p>Qty: 1</p>
          </div>
          <!-- <p class="card-text"> Remarks </p> -->
          <p class="fw-medium">Remarks</p>
          <h6 class="fs-6 fw-medium">24k old is gold</h6>
          <div class="line m-1"></div>
          <div class="row">
            <div
              class="d-flex flex-row flex-wrap justify-content-between align-items-center"
            >
              <span>
                <p class="m-0 p-0 fw-medium">Actual</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
              <span>
                <p class="m-0 p-0 fw-medium">Stone</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
              <span>
                <p class="m-0 p-0 fw-medium">Net</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <div
        class="card shadow p-3 mb-5 bg-body-tertiary rounded border-0 rounded"
      >
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <span>
              <h5 class="card-title">Bracelet</h5>
              <p>Purity-91.6-Above (22-ct)</p>
            </span>
            <p>Qty: 1</p>
          </div>
          <!-- <p class="card-text"> Remarks </p> -->
          <p class="fw-medium">Remarks</p>
          <h6 class="fs-6 fw-medium">24k old is gold</h6>
          <div class="line m-1"></div>
          <div class="row">
            <div
              class="d-flex flex-row flex-wrap justify-content-between align-items-center"
            >
              <span>
                <p class="m-0 p-0 fw-medium">Actual</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
              <span>
                <p class="m-0 p-0 fw-medium">Stone</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
              <span>
                <p class="m-0 p-0 fw-medium">Net</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <div
        class="card shadow p-3 mb-5 bg-body-tertiary rounded border-0 rounded"
      >
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <span>
              <h5 class="card-title">Bracelet</h5>
              <p>Purity-91.6-Above (22-ct)</p>
            </span>
            <p>Qty: 1</p>
          </div>
          <!-- <p class="card-text"> Remarks </p> -->
          <p class="fw-medium">Remarks</p>
          <h6 class="fs-6 fw-medium">24k old is gold</h6>
          <div class="line m-1"></div>
          <div class="row">
            <div
              class="d-flex flex-row flex-wrap justify-content-between align-items-center"
            >
              <span>
                <p class="m-0 p-0 fw-medium">Actual</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
              <span>
                <p class="m-0 p-0 fw-medium">Stone</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
              <span>
                <p class="m-0 p-0 fw-medium">Net</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <div
        class="card shadow p-3 mb-5 bg-body-tertiary rounded border-0 rounded"
      >
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <span>
              <h5 class="card-title">Bracelet</h5>
              <p>Purity-91.6-Above (22-ct)</p>
            </span>
            <p>Qty: 1</p>
          </div>
          <!-- <p class="card-text"> Remarks </p> -->
          <p class="fw-medium">Remarks</p>
          <h6 class="fs-6 fw-medium">24k old is gold</h6>
          <div class="line m-1"></div>
          <div class="row">
            <div
              class="d-flex flex-row flex-wrap justify-content-between align-items-center"
            >
              <span>
                <p class="m-0 p-0 fw-medium">Actual</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
              <span>
                <p class="m-0 p-0 fw-medium">Stone</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
              <span>
                <p class="m-0 p-0 fw-medium">Net</p>
                <p class="m-0 p-0 small">(Weight)</p>
              </span>
              <p>1</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
